<% include ./partials/header %>


<section class="weather-section">
    <div class="container">
        <div class="row">
            <h2><%= fiveDay.city.name %> 5-Day Weather Forecast</h2>
        </div>
        <div class="row">
            <% var j = 0 %>
            <% for(var i = 0; i < fiveDay.list.length; i += 8) { %>
                    <div class="col-lg-2">
                        <h3><%= moment(fiveDay.list[i].dt_txt).format("dddd") %>, <%= moment(fiveDay.list[i].dt_txt).format("MMM Do") %></h3>
                        <img src="resources/img/icons/<%= fiveDay.list[i].weather[0].icon %>.png" alt="Weather Icon">
                        <p>High: <span class="max"><%= minsAndMaxes[j].max_temp %></span>&deg;</p>
                        <p>Low: <span class="min"><%= minsAndMaxes[j].min_temp %></span>&deg;</p>
                    </div>
                <%  j++ %>
            <%  } %>
        </div>
        <div class="row">
            <div class="col-xl" id="map">
                
            </div>
        </div>
    </div>
</section>



    
<% include ./partials/footer %>
    
